<h1>Editing Gamification Item Group</h1>

<%= render 'form', gamification_item_group: @gamification_item_group %>

<%= link_to 'Show', @gamification_item_group %> |
<%= link_to 'Back', gamification_item_groups_path %>
