<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gamification_item_type.name %>
</p>

<%= link_to 'Edit', edit_gamification_item_type_path(@gamification_item_type) %> |
<%= link_to 'Back', gamification_item_types_path %>
